<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Battery Summary</title>
	<link rel="stylesheet" href="../../style.scss">
</head>

<body>
	<div class="container">
		<h1>Battery Summary</h1>
		<p><strong>Battery ID:</strong> <span id="batteryId"></span></p>
		<p><strong>Model Name:</strong> <span id="modelName"></span></p>
		<p><strong>Chemistry:</strong> <span id="chemistryName"></span></p>
		<p><strong>Form Factor:</strong> <span id="formfactorName"></span></p>
		<p><strong>Last Tested Capacity:</strong> <span id="lastTestedCapacity"></span> mAh</p>
		<p><strong>Last Tested Timestamp:</strong> <span id="lastTestedTimestamp"></span></p>
	</div>

	<script type="module" src="./battery-summary.ts"></script>
</body>

</html>