<!DOCTYPE html>
<html>
<head>
  <title>Add Chemistry</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <h1>Add Chemistry</h1>

  <div class="form-container">
    <div class="form-group">
      <label for="name">Chemistry Name:</label>
      <input type="text" id="name" required>
    </div>
    <div class="form-group">
      <label for="nominalVoltage">Nominal Voltage:</label>
      <input type="number" id="nominalVoltage" step="0.1" required>
    </div>

    <div class="form-actions">
      <button id="createChemistrySubmit">Create</button>
    </div>
  </div>
  <br>

  <script type="module" src="/components/add-chemistry/add-chemistry.js"></script>

</body>
</html>
