<!DOCTYPE html>
<html>
<head>
  <title>Add Model</title>
  <link rel="stylesheet" href="../../style.scss">
</head>
<body>

  <h1>Add Model</h1>

  <div class="form-container">
    <div class="form-group">
      <label for="name">Model Name:</label>
      <input type="text" id="name" class="text-input" required>
    </div>
    <div class="form-group">
      <label for="designCapacity">Design Capacity:</label>
      <input type="number" id="designCapacity" class="text-input" required>
    </div>
    <div class="form-group">
      <label for="formFactorId">Form Factor:</label>
      <select id="formFactorId" class="text-input" required>
        <option value="">Select Form Factor</option>
      </select>
    </div>
    <div class="form-group">
      <label for="chemistryId">Chemistry:</label>
      <select id="chemistryId" class="text-input" required>
        <option value="">Select Chemistry</option>
      </select>
    </div>
    <div class="form-group">
      <label for="manufacturer">Manufacturer:</label>
      <input type="text" id="manufacturer" class="text-input">
    </div>

    <div class="form-actions">
      <button id="createModelSubmit">Create</button>
    </div>
  </div>
  <br>

  <script type="module" src="./add-model.ts"></script>

</body>
</html>
