<!DOCTYPE html>
<html>

<head>
	<title>Import/Export</title>
	<link rel="stylesheet" href="../../style.scss">
</head>

<body>
	<div class="import-export-container">
		<h1>Import/Export</h1>
		<h3>All Data</h3>
		<button id="exportAllBtn">Export All Data</button>
		<input type="file" id="importAllFile" accept=".json" style="display: none;">
		<button id="importAllBtn">Import All Data</button>

		<h3>Batteries</h3>
		<button id="exportBatteriesBtn">Export Batteries</button>
		<input type="file" id="importBatteriesFile" accept=".json" style="display: none;">
		<button id="importBatteriesBtn">Import Batteries</button>

		<h3>Test Runs</h3>
		<button id="exportTestRunsBtn">Export Test Runs</button>
		<input type="file" id="importTestRunsFile" accept=".json" style="display: none;">
		<button id="importTestRunsBtn">Import Test Runs</button>

		<h3>Chemistries</h3>
		<button id="exportChemistriesBtn">Export Chemistries</button>
		<input type="file" id="importChemistriesFile" accept=".json" style="display: none;">
		<button id="importChemistriesBtn">Import Chemistries</button>

		<h3>Form Factors</h3>
		<button id="exportFormFactorsBtn">Export Form Factors</button>
		<input type="file" id="importFormFactorsFile" accept=".json" style="display: none;">
		<button id="importFormFactorsBtn">Import Form Factors</button>

		<h3>Models</h3>
		<button id="exportModelsBtn">Export Models</button>
		<input type="file" id="importModelsFile" accept=".json" style="display: none;">
		<button id="importModelsBtn">Import Models</button>
	</div>
	<script type="module" src="./import-export.ts"></script>
</body>

</html>