<!DOCTYPE html>
<html>
<head>
  <title>Model Details</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    
    <div class="model-details-card">
      <h2 id="name"></h2>
      <p><strong>GUID:</strong> <span id="modelId"></span></p>
      <p><strong>Design Capacity:</strong> <span id="designCapacity"></span> mAh</p>
      <p><strong>Form Factor:</strong> <span id="formfactor"></span></p>
      <p><strong>Chemistry:</strong> <span id="chemistry"></span></p>
      <p><strong>Manufacturer:</strong> <span id="manufacturer"></span></p>
    </div>
    
  </div>
  <script type="module" src="/components/model-details/model_details.js"></script>
</body>
</html>