<!DOCTYPE html>
<html>
<head>
	<title>Battery Details</title>
	<link rel="stylesheet" href="../../style.scss">
</head>
<body>
	<div class="battery-info">
		<p><strong>Design Capacity:</strong> <span id="designCapacity"></span></p>
		<p><strong>Last Tested Capacity:</strong> <span id="latestTestInfo"></span></p>
	</div>
	<div class="button-container">
		<button id="toggleViewBtn">Show Table</button>
	</div>
	<div id="chartContainer">
		<canvas id="capacityChart"></canvas>
	</div>
	<table id="testDataTable" class="hidden-table">
		<thead>
			<tr>
				<th>Capacity</th>
				<th>Timestamp</th>
				<th>Process</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="2">Loading...</td>
			</tr>
		</tbody>
	</table>

	<script type="module" src="./battery-details.ts"></script>

</body>
</html>
