<!DOCTYPE html>
<html>
<head>
  <title>Add Form Factor</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <h1>Add Form Factor</h1>

  <div class="form-container">
    <div class="form-group">
      <label for="formfactor">Name:</label>
      <input type="text" id="formfactor" required>
    </div>

    <div class="form-actions">
      <button id="createFormFactorSubmit">Create</button>
    </div>
  </div>
  <br>

  <script type="module" src="/components/add-formfactor/add-formfactor.js"></script>

</body>
</html>
